.root {
  border: 1px solid var(--color_border);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}
.content {
  margin-top: 10px;
}

.box {
  text-align: left;
  border: 1px solid var(--color_border);
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.insoles {
  margin: 10px 0;
  display: flex;
  width: fit-content;
  max-width: 100%;
  overflow-x: auto;
  gap: 2px;
  flex-wrap: wrap;
}
.insole {
  width: 100px;
  padding: 5px 10px;
  background-color: var(--color_border);
  font-weight: bold;
  font-size: 14px;
  border-radius: 3px;
  width: max-content;
}
.typeBox {
  padding: 5px;
  margin: 5px 0;
}
.name {
  font-weight: bold;
}
.description {
  opacity: .9;
}

h3 {
  font-size: 1.3rem;
  border-bottom: 1px solid;
  width: fit-content;
}